* {
    box-sizing: border-box;
}

body {
    font-family: serif;
    background-color: #E5E5E5;
}

.header {
    margin-bottom: 30px;
    background: #FA8C16;
    padding: 16px 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.header-wrapper {
    margin: auto;
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    margin-left: 60px;
    margin-right: auto;
}

.header-menu {
    padding: 0;
    margin: 0;
    margin-left: 60px;
    display: flex;
    list-style: none;
}

.header-menu-link {
    text-decoration: none;
    color: #FAFAFA;
    margin-right: 15px;
    font-size: 14px;
    line-height: 22px;
}

.input-group {
    width: 237px;
    height: 32px;
    position: relative;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #d9d9d9;
}

.search-input {
    width: 80%;
    height: 100%;
    border: none;
    font-size: 14px;
    line-height: 22px;
    padding-left: 12px;
}

.search-button {
    height: 100%;
    width: 20%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input::-moz-placeholder {
    color: #bfbfbf;
}

.search-input::-webkit-input-placeholder {
    color: #bfbfbf;
}

.search-input:-ms-input-placeholder {
    color: #bfbfbf;
}

.search-input::-ms-input-placeholder {
    color: #bfbfbf;
}

.search-input::placeholder {
    color: #bfbfbf;
}

.content {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.posts {
    max-width: 800px;
}

.post {
    padding: 35px 35px 0 35px;
    background-color: #fff;
    border: 1px solid #E8E8E8;
}

.post-title {
    margin-top: 0;
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}

.post-text {
    color: #262626;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.tags {
    margin-bottom: 22px;
}

.tag {
    color: #BFBFBF;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-top: 10px;
}

.post-footer {
    background: #FAFAFA;
    border: 1px solid #E8E8E8;
}

.post-button .icon {
    fill: #8C8C8C;
}

.post-button {
    background-color: transparent;
    border: none;
    color: #8c8c8c;
    display: flex;
    align-items: center;
}